


body{
    font-weight: bolder;
    font-family: system-ui;
}
h1 {
    color: aqua;
    background-color: black;
}
h2 {
    color: azure;
    background-color: mediumspringgreen;
}
h6 {
    color:blue;
}